.Fire {
    transition: .3s all;
    top: 200px;
    left: 10px;
    position: absolute;
    transform: translateX(20px);
    height: 10px;
    width: 10px;
    z-index: 9999;
    background-color: black;
    border: 1px solid red;
    border-radius: 5px;
}