.Player {
    transition: .3s all;
    top: 200px;
    left: 10px;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 9999;
}

.Player-img {
    background: url("./img/texture.png") center no-repeat;
    background-size: cover;
    height: 100%;
    margin: 2px;
}

.Player-img_rotate_up {
    transform: rotate(0deg);
}

.Player-img_rotate_right {
    transform: rotate(90deg);
}

.Player-img_rotate_down {
    transform: rotate(180deg);
}

.Player-img_rotate_left {
    transform: rotate(270deg);
}

.Player-img_live {}
.Player-img_dead {
    background-color: red;
}