.Score {
    margin: 10px;
}

.Score-Header {
    font-size: 30px;
}

.Score-Table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Score-Item {
    font-size: 20px;
    padding: 10px;
}